<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <style>
         h1{
       style="font-size:200%"
         }
         h2{
         color:gray;
         }
          h3 {
         color: white;
      }
        body {
         background-color: black;
      }

    </style>

</head>
<body>
<a href="/">
     <div class="container" ><img src="../static/hoo.png" alt="logo" style="width:7%; height:7%;float: left; "> </div></a>
<br>
<center><h1 style="color:#E7A009;font-size: 53px;" ><b>About me 😉</b></h1>

<h2>"The path from dreams to success does exist. <br>
    May you have the vision to find it, the courage to get on to it, and the perseverance to follow it."<br>
Kalpana Chawla</h2> </center><br><br>
<p><center>
<h3 style="font-size: 23px;">My name is Aya Mutlak , I am 27 years old and I live in Kaabiya village , I am married and have 4 children.<br><br>

In school I loved studying math, chemistry and biology , and I was realy good in these subjects ,<br>and I always dreamed that after high school I would continue my education in subjects that is related to math or chemistry , I actually wanted to be an engineer.
I graduated high school with an average of 96.<br>

I finished my B.Ed as an Arabic teacher In the "Sakhnin college" ,<br> after that I extended my teaching certification at "The arab academic college of Education" in Haifa with an average of 93.

<br>
I worked as  a temporary teachers  and in elementary school for many years and I gave a private lessons. I don't see myself there and I don’t see the  fuater for me there...

<br>
Today I join to course QA automation I want to achieve my dream, and to fulfill myself.
I have the motivation to start working in this field.<br> Besides I am a hard worker, My family is supportive and ready to help me.</h3> </p></center>

</body>
</html>